<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--数据库连接url配置-->
        <property name="connection.url">jdbc:mysql://localhost:3306/citybrainmiddleware</property>
        <!--数据库驱动配置-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- 数据库的登陆账号 -->
        <!-- 数据库的登陆密码 -->
        <property name="connection.username">root</property>
        <property name="connection.password">1234</property>
        <!-- 指定连接数据库的编码 -->
        <property name="connection.characterEncoding">utf8</property>
        <!-- 指定自动生成数据表的策略 -->
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="c3p0.min_size">5</property> <!--在连接池中可用数据库连接的最小数目-->
        <property name="c3p0.max_size">30</property> <!--在连接池中所有数据库连接的最大数目-->
        <property name="c3p0.time_out">1800</property> <!--设定数据库连接的超时时间-->
        <property name="c3p0.max_statement">50</property> <!--可以被缓存的PreparedStatement的最大数目-->

        <mapping resource="com/djj/middleware/entities/DeviceEntity.hbm.xml"/>
        <mapping class="com.djj.middleware.entities.DeviceEntity"/>
        <mapping resource="com/djj/middleware/entities/CycledataCoilListEntity.hbm.xml"/>
        <mapping class="com.djj.middleware.entities.CycledataCoilListEntity"/>
        <mapping resource="com/djj/middleware/entities/CycledataEntity.hbm.xml"/>
        <mapping class="com.djj.middleware.entities.CycledataEntity"/>
        <mapping resource="com/djj/middleware/entities/EvaluationEntity.hbm.xml"/>
        <mapping class="com.djj.middleware.entities.EvaluationEntity"/>
        <mapping resource="com/djj/middleware/entities/EvaluationListEntity.hbm.xml"/>
        <mapping class="com.djj.middleware.entities.EvaluationListEntity"/>
        <mapping resource="com/djj/middleware/entities/IntersectionEntity.hbm.xml"/>
        <mapping class="com.djj.middleware.entities.IntersectionEntity"/>
        <mapping resource="com/djj/middleware/entities/LaneEntity.hbm.xml"/>
        <mapping class="com.djj.middleware.entities.LaneEntity"/>
        <mapping resource="com/djj/middleware/entities/PassdataEntity.hbm.xml"/>
        <mapping class="com.djj.middleware.entities.PassdataEntity"/>
        <mapping resource="com/djj/middleware/entities/QueuedataEntity.hbm.xml"/>
        <mapping class="com.djj.middleware.entities.QueuedataEntity"/>
        <mapping resource="com/djj/middleware/entities/QueuedataQueueListEntity.hbm.xml"/>
        <mapping class="com.djj.middleware.entities.QueuedataQueueListEntity"/>
        <mapping resource="com/djj/middleware/entities/RoaddataEntity.hbm.xml"/>
        <mapping class="com.djj.middleware.entities.RoaddataEntity"/>
        <mapping resource="com/djj/middleware/entities/RoaddataRoadstatusListEntity.hbm.xml"/>
        <mapping class="com.djj.middleware.entities.RoaddataRoadstatusListEntity"/>


        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
        <!--<property name="connection.username">root</property>
        <property name="connection.password">Alibaba@1688</property>-->
    </session-factory>
</hibernate-configuration>